# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# Vite / Build outputs
dist/
build/
.turbo/

# Environment
.env
.env*.local

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE / System
.vscode/
.idea/
.DS_Store
Thumbs.db
*.Zone.Identifier

# Temp
tmp/
*.tmp
